<?php

/** @var \MyVendor\MyModule\Block\Adminhtml\Stores\Index $block */

$block->createCursoStore(
    [
        'name'    => uniqid('Store '),
        'address' => 'SOME PLACE ' . rand(123, 12321),
        'phone'   => rand(123123123, 12312345345)
    ]
);

try {
    /*$modelOne = $block->cursoStoresRepository->load('6531239711', 'phone');
    var_dump($modelOne->getId());
    $block->cursoStoresRepository->delete($modelOne); */

    $objectManger = \Magento\Framework\App\ObjectManager::getInstance();

    /** @var \Magento\Framework\Api\SearchCriteriaBuilder $searchCriteria */
    $searchCriteria = $objectManger->get(\Magento\Framework\Api\SearchCriteriaBuilder::class);

    $searchCriteria->addFilter('phone', '10228773344', 'neq'); ?>

    REPOSITORY EXAMPLE
    <table class="table">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>ADDRESS</td>
            <td>PHONE</td>
        </tr>
        <?php /** @var \MyVendor\MyModule\Model\CursoStores $cursoStore */
        foreach ($block->getList($searchCriteria->create())->getItems() as $cursoStore): ?>
            <tr>
                <td><?= $cursoStore->getId(); ?></td>
                <td><?= $cursoStore->getName(); ?></td>
                <td><?= $cursoStore->getData('address'); ?></td>
                <td><?= $cursoStore->getPhone(); ?></td>
            </tr>
        <?php endforeach; ?>
    </table>

    <table class="table">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>ADDRESS</td>
            <td>PHONE</td>
        </tr>
        <?php /** @var \MyVendor\MyModule\Model\CursoStores $cursoStore */
        foreach ($block->getAllCursoStores() as $cursoStore): ?>
            <tr>
                <td><?= $cursoStore->getId(); ?></td>
                <td><?= $cursoStore->getName(); ?></td>
                <td><?= $cursoStore->getData('address'); ?></td>
                <td><?= $cursoStore->getPhone(); ?></td>
            </tr>
        <?php endforeach; ?>
    </table>

    <table class="table">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>ADDRESS</td>
            <td>PHONE</td>
        </tr>
        <?php /** @var \MyVendor\MyModule\Model\CursoStores $cursoStore */
        foreach ($block->getAllCursoStores() as $cursoStore): ?>
            <tr>
                <?php foreach ($cursoStore->getData() as $key => $value): ?>
                    <td><?= $cursoStore->getData($key); ?></td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
    </table>

    <table class="table">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>ADDRESS</td>
            <td>PHONE</td>
        </tr>
        <?php /** @var \MyVendor\MyModule\Model\CursoStores $cursoStore */
        foreach ($block->getAllCursoStores() as $cursoStore): ?>
            <tr>
                <?php foreach ($cursoStore->getData() as $key => $value): ?>
                    <td><?= '$value ' . "$value" ?></td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
    </table>


    <table class="table">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>ADDRESS</td>
            <td>PHONE</td>
        </tr>
        <?php /** @var \MyVendor\MyModule\Model\CursoStores $cursoStore */
        foreach ($block->directQuery() as $cursoStore): ?>
            <tr>
                <?php foreach ($cursoStore as $key => $value): ?>
                    <td><?= '$value ;' . "$value" ?></td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
    </table>

    <?php
} catch (\Exception $e) {
            var_dump($e->getMessage());
        }
