<?php
// @codingStandardsIgnoreFile
/**
 * @var $block \MyVendor\MyPaymentMethod\Block\Payment\MyBroker\Form
 */
?>
<dl class="items check payable" id="payment_form_<?= $block->escapeHtml($block->getMethodCode()) ?>" style="display:none;">
    <dt class="title"><?= $block->getMethod()->getTitle() ?></dt>
    <dd class="content"><?= $block->getMethod()->getTitle() ?></dd>
</dl>


